[Unit]
Description=DuckChain - Pubnet Miner Node 01
After=syslog.target network.target

[Service]
ExecStart=/usr/bin/geth --config ./DuckChain/config/geth/DuckChain_Pubnet_MinerNode01.toml --miner.threads 1 --mine
Restart=on-failure
KillSignal=SIGINT

# log output to syslog as 'geth'
SyslogIdentifier=geth
StandardOutput=syslog

# non-root user to run as
WorkingDirectory=/home/duck/
User=duck
Group=duck

[Install]
WantedBy=multi-user.target
