[Unit]
Description=DuckChain - PublicNode01
After=syslog.target network.target

[Service]
ExecStart=/usr/bin/geth --config /home/simon/DuckChain/config/geth/DuckChain_PublicNode01.toml
Restart=on-failure
KillSignal=SIGINT

# log output to syslog as 'geth'
SyslogIdentifier=geth
StandardOutput=syslog

# non-root user to run as
WorkingDirectory=/home/simon/
User=simon
Group=simon

[Install]
WantedBy=multi-user.target
