[Unit]
Description=DuckChain - Netstats
After=syslog.target network.target

[Service]
ExecStart=/usr/bin/node ./eth-netstat/bin/www
Restart=on-failure
KillSignal=SIGINT

# log output to syslog as 'node'
SyslogIdentifier=node
StandardOutput=syslog

# non-root user to run as
WorkingDirectory=/home/duck/
User=duck
Group=duck

[Install]
WantedBy=multi-user.target
